<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <!--FECHA DEL SISTEMA FORMATO dd/mm/yyyy HH:MM:SS-->
    <add key="DateTimeNow" value="14/11/2013 11:00:00"/>
    <!--<add key="conexionBD" value="User ID=gd;Password=gd2013;Initial Catalog=GD2C2013;Data Source=(local)\SQLSERVER2008;Integrated Security=False" />-->
  </appSettings>
  <connectionStrings>
    <add name="GD2013" connectionString="Server=.\SQLSERVER2008;
         Database=GD2C2013; 
         User Id=gd;
         Password=gd2013;"/>
  </connectionStrings>
</configuration>